<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TheUseOfControls.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B38893361CF3FACF00E57E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B388934F1CF3FACF00E57E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B388935A1CF3FACF00E57E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
